pandas
numpy
openpyxl
xlrd
statsmodels
linearmodels
geopandas
shapely
pyproj
libpysal
esda
splot
folium
matplotlib
seaborn
scipy
scikit-learn
beautifulsoup4
lxml
pillow
mapclassify
streamlit
streamlit-folium
plotly
altair
